
{% extends "root.html" %}
{% load static %}



{% block content %}


    {% include 'aside.html' %}

    <main class="main-content position-relative max-height-vh-100 h-100 border-radius-lg ">
        <div class="text-center mt-3">
            <h1>ResearchHub</h1>
        </div>


        {% include 'navbar.html' %}

        <div class="container-fluid py-1">

            <div class="row mb-4">
                <div class="mb-md-0 mb-4">
                    <div class="card">
                        <div class="card-header pb-0 pt-2">
                            <div class="row">
                                <div class="col-lg-6 col-7">
                                    <h6>Papers</h6>
                                </div>
                                <div class="col-lg-6 col-5 my-auto text-end">

                                    <div class="dropdown float-lg-end pe-4">
                                        <a class="cursor-pointer text-secondary" id="dropdownTable"
                                           data-bs-toggle="dropdown"
                                           aria-expanded="false">Sort by
                                            <i class="fa fa-sort text-secondary"></i>
                                        </a>
                                        <ul class="dropdown-menu px-2 py-3 ms-sm-n4 ms-n5"
                                            aria-labelledby="dropdownTable">
                                            <li><a class="dropdown-item border-radius-md"
                                                   href="{% url 'sorted_name' %}">Name</a>
                                            </li>
                                            <li><a class="dropdown-item border-radius-md" href="{% url 'ok' %}">Date</a>
                                            </li>

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="card-body py-0 my-0">
                            <div class="table-responsive">
                                <table class="table align-items-center mb-0">
                                    <thead>
                                    <tr>
                                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">
                                            Title
                                        </th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                            Category
                                        </th>
                                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">
                                            View
                                        </th>

                                    </tr>
                                    </thead>

                                    <tbody>

                                    {% for paper in papers %}
                                        <tr>
                                            <td>
                                                <div class="d-flex px-2 py-1">
                                                    <div>
                                                        <img src="{% static 'img/pdf.png' %}"
                                                             class=" avatar-sm me-3" alt="xd">
                                                    </div>
                                                    <div class="d-flex flex-column justify-content-center">
                                                        <h6 class="mb-0 text-sm">{{ paper.title }}</h6>
                                                    </div>
                                                </div>
                                            </td>

                                            <td class="align-middle text-center text-sm">
                                                {% for tag in paper.category.all %}
                                                    <span class="text-xs font-weight-bold"> {{ tag.name }} </span>,

                                                {% endfor %}
                                            </td>

                                            <td class="align-middle text-center text-sm">
                                                <a class="text-xs font-weight-bold"
                                                   href="{% url 'read' paper.id %}">View</a>
                                            </td>
                                        </tr>

                                    {% endfor %}


                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% include 'footer.html' %}
        </div>

    </main>


{% endblock %}